body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: sans-serif;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff2bdc;
    font-size: 48px;
    text-shadow: 0 0 20px #ff2bdc, 0 0 40px #ff2bdc;
    z-index: 10;
    pointer-events: none;
}
